.entry {
  margin-right: 10px;

  &__btn {
    padding: 9px 20px;
    border: 1px solid #171717;
    border-radius: 2px;
    color: #fff;
    transition: color, border 0.3s;

    &:hover {
      color: $hover-color;
      border: 1px solid #ffd200;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__mobile-title {
    position: relative;
    display: none;
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #202020;
    color: #fff;
    transition: color, border 0.3s;

    &:hover {
      color: $hover-color;
      border-bottom: 1px solid #ffd200;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #202020;
    }
  }

  @media (max-width: 898px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__btn {
      padding: 9px 15px;
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    order: 2;
    width: 100%;
    padding-left: 5px;
    &__btn {
      text-align: left;
      border: none;
      padding-left: 29px;
      display: none;
      &:hover {
        border: none;
      }
    }

    &__mobile-title {
      display: block;
    }
  }
}
